/frontend/node_modules
/Users/phnhat/FTI/AIA-Flow/api/__pycache__
/Users/phnhat/FTI/AIA-Flow/backend/__pycache__
/Users/phnhat/FTI/AIA-Flow/backend/aia/__pycache__
/Users/phnhat/FTI/AIA-Flow/backend/aia/core/__pycache__
/Users/phnhat/FTI/AIA-Flow/backend/aia/main/__pycache__