/frontend/node_modules
/api/__pycache__
/backend/__pycache__
/backend/aia/__pycache__
/backend/aia/core/__pycache__
/backend/aia/main/__pycache__
/backend/aia/main/no_gui_nodes/image/__pycache__
/backend/aia/main/no_gui_nodes/text/__pycache__
/backend/aia/main/no_gui_nodes/yolov5s/__pycache__